@import url('https://fonts.cdnfonts.com/css/akrobat');

body {
  text-rendering: optimizeLegibility;
  overflow: hidden;
  user-select: none; -webkit-user-drag: none;
}

#wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	background: linear-gradient(142deg, #000000 0%, #000000a8 35%, #000000a8 65%, #000000 100%);
}

#wrapper h1 {
	position: absolute;
	width: 100%;
	top: 35%;
	left: 0%;
	color: white;
	font-family: 'Akrobat Black';
	font-size: 3.6rem;
	text-align: center;
	text-shadow: white 0px 3px 40px;
	text-transform: uppercase;
}

#wrapper h2 {
	position: absolute;
	width: 100%;
	top: 32.5%;
	left: 0%;
	color: #0099e0;
	font-family: 'Akrobat ExtraBold';
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

#wrapper h3 {
	position: absolute;
	width: 100%;
	top: 170%;
	left: 0%;
	color: white;
	font-family: 'Akrobat ExtraBold';
	font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
}

#wrapper h4 {
	position: absolute;
	width: 100%;
	top: 155%;
	left: 0%;
    color: #89cff0;
	font-family: 'Akrobat Black';
	font-size: 3.5rem;
	letter-spacing: .2rem;
	text-align: center;
	text-transform: uppercase;
}

#wrapper #killer {
	color: #89cff0;
	font-family: 'Akrobat Black';
	font-size: 2.2rem;
}

#wrapper img {
	position: absolute;
	left: 50%;
	top: 53%;
	transform: translate(-50%, -50%);
	width: 12%;
	height: 20%;
}

#wrapper button {
	position: relative;
	min-height: 6vh;
	top: 184%;
	left: 39%;
	padding-left: .8vw;
	padding-right: .8vw;
	font-size: 1.5rem;
	font-family: 'Akrobat ExtraBold';
	color: white;
	background: #89cff0;
	border: none;
	outline: none;
	border-radius: 6px;
	transition: .4s;
	margin-right: 20px;
	text-align: center;
}

#wrapper button:hover {
	color: #89cff0;
	background: white;
}

#wrapper #call_emergency.disabled {
	pointer-events: none;
	opacity: .8;
}  